/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFCF5;
    padding: 50px 20vw; /* Add padding */
}

/* Header styles */
header {
    /* background-color: #333; */
    color: #6F461D;
    padding-top: 0px;
    padding-right: 20px;
    /* padding-bottom: -10px; */
    /* height: 50px; Adjust the height as needed */
    line-height: 1; 
    padding-left: 20px;
    font-family: "Inknut Antiqua", serif;
    text-align: center;
}

.header-content {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}


.logo{
    height: 70px;
    width: 70px;
    margin-right: 3px; /* space btwn logo and text */
}

h1 {
    font-size: 72px; 
    letter-spacing: -4px; 
    font-weight: 500;
}

/*Artsocked heading*/
h1 span:nth-child(1) { color: #687500; }
h1 span:nth-child(2) { color: #CD3232; }
h1 span:nth-child(3) { color: #6A90CF; }
h1 span:nth-child(4) { color: #946C00; }
h1 span:nth-child(5) { color: #A76252; }
h1 span:nth-child(6) { color: #CD3232; }
h1 span:nth-child(7) { color: #6A90CF; }
h1 span:nth-child(8) { color: #946C00; }
h1 span:nth-child(9) { color: #687500; }

/* Navigation bar styles */
nav {
    /* background-color: #444; */
    color: #6F461D;
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
    /* padding-: 20px; */
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    font-family: "Inknut Antiqua", serif;
    color: #6F461D;
    margin-left: 40px;
    margin-right: 40px; 
}
.main-column {
    display:flex;
    flex-direction: column;
}
.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
    justify-content: flex-end; 
}

.section-image {
    max-width: 50%; 
}

.section-content {
    display: flex;
    flex-direction: column; 
    
    flex: 1; 
    /* justify-content: flex-end; */
    align-items: flex-end;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-top: -30px;
    
    text-align: right; 
    
}

.home_text {
    color: #6F461D;
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    letter-spacing: 0.2em; 
    font-size: 36px;
    padding-top: 0px; 
    padding-left: 50px; 

    text-indent: 20px; 
    text-align: right; 
}


.shop-now-button {
    padding: 10px 20px;
    background-color: #CD3232;
    color: white;
    text-decoration: none;
    text-align: center; 
    border-radius: 20px;
    margin-right:80px;
    margin-top: 20px; 
    /* margin-right: 20px; Add right margin */
    width: 150px;
    height: 40px; 
    line-height: 40px;
    font-size: 30px;
    font-family: "Inknut Antiqua", serif;
}

.shop-now-button:hover {
    background-color: #6A90CF;
}

#divider1 {
    width: 60%;
    height: 2px;
    align-self:center;
    background-color: #687500; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
#divider2 {
    width: 60%;
    height: 2px;
    align-self:center;
    background-color: #946C00; 
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

#divider3 {
    width: 60%;
    height: 2px;
    align-self:center;
    background-color: #A76252; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.favorites {
    padding: 20px;
}

.favorites-heading {
    font-size: 30px;
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    text-align: center; 
    color: #6F461D;
    margin-bottom: 30px;
    margin-top: 10px;
}

.item {
    width: 200px;
    height: 200px;
    margin-right: 20px; 
    flex-shrink: 0; 
}

.item_in_shop {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.item_in_shop:hover {
    transform: scale(1.1); 
}

.scrollable-items {
    display: flex;
    overflow-x: auto; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -20px; 
    max-width: calc(200px * 4 + 20px * 3);
    width: 100%; 
}

.our-story {
    border: 10px solid #6A90CF; /* Blue outline */
    border-radius: 10px; 
    padding: 20px;
    margin-bottom: 20px; 
}

.story-text {
    font-size: 30px;
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    text-align: center; 
    color: #6F461D;
}

.our-story p {
    text-align: center;
    color: #6F461D;
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    letter-spacing: 0.1em; 
    font-size: 16px;
}

/*Contact Us css*/
.contact-us {
    background-color: #687500; 
    border-radius: 10px; 
    padding: 20px; 
    display: flex; 
    flex-direction: row; 
   
    align-items: flex-start; 
    justify-content: space-between; 
    margin-bottom: 20px;
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.contact-title {
    text-align: left;
    margin-top: 0; 
    font-family: "Inknut Antiqua", serif;
    font-weight: bold;
    padding: 20px 100px; 
    text-align: center; 
    color: white;
}

.contact-note {
    text-align: left; 
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    text-align: center; 
    color: white;
    margin-bottom: 30px; 
   
}

.contact-form {
    display: flex; 
    justify-content: flex-end; 
    padding-left: 20px; 
    width: 30%; 
    
}

.contact-form form {
    flex: 1; 
    padding-left: 10px; 
    /* align-self: center;  */
}

.contact-form label {
    color: white; 
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
}


.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    margin-bottom: 10px; 
    font-family: "Inknut Antiqua", serif;
    font-weight: normal;
    text-align: left; 
    color: #6F461D;
}

.contact-form button {
    background-color: #CD3232; 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 5px 10px; 
}

.contact-form button:hover {
    background-color: #6A90CF; 
}

/* Footer styles */


footer {
    background-color: #A76252;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0 -50px; 
}

/* Hide the logo on small screens */
@media screen and (max-width: 420px) {
    .logo {
        display: none;
    }

    h1 {
        margin-left: 20px;
        font-size: 46px !important;
    }

    .main-section {
        flex-direction: column;
        align-items:center;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .home_text {
        padding-left: 0; 
        text-indent: 0;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 20px; 
    }

    .shop-now-button {
        margin: 20px auto; 
    }
    nav {
        display: none;
    }

    header {
        padding-top: 30px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    h1 {
        font-size: 40px; 
        letter-spacing: -2px; 
    }
}

@media screen and (min-width: 791px) {
    .hamburger {
        display: none !important;
    }
}

@media screen and (min-width: 421px) and (max-width: 790px) {
    h1 {
        font-size: 46px !important;
        display: inline-block;
        margin-left: 20px; 
        
    }
    nav {
        display: none;
    }

    #hamburger-menu {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px; 
        font-size: 36px;
        transform: scale(2);
        cursor: pointer;
        color: #6F461D;
        background: none;
        border: none;
        z-index: 100;
    }

    #hamburger-menu:hover {
        color: #CD3232;
    }


    .logo {
        display: none; /* Hide logo */
    }

    header {
        padding-top: 30px;
        padding-right: 60px; 
        padding-left: 60px; 
        padding-bottom: 0px;
        
    }
    .main-section {
        flex-direction: column;
        align-items:center;
    }

    .section-content {
        align-items: center; 
        text-align: center; 
    }

    .home_text {
        padding-left: 0; 
        text-indent: 0; 
        padding-top: 20px;
        text-align: center;
        margin-bottom: 20px; 
    }

    .shop-now-button {
        margin: 20px auto;
    }
}

@media screen and (max-width: 1000px) {
    .contact-us {
        flex-direction: column; 
        align-items: center; 
    }

    .contact-form {
        width: 30%; 
        padding-left: 10; 
        margin-top: 10px; 
    }

    .contact-title,
    .contact-note {
        padding: 0 20px; 
        text-align: center; 
    }

   
    body {
    padding: 50px 15vw; 
    }

    header {
        padding-top: 30px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    h1 {
        font-size: 60px; 
        letter-spacing: -2px; 
    }
    
  

}

@media screen and (max-width: 1310px) {
    nav a {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    
}
